{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Check your answers before sending your application
    </h1>

    {% for section, answersobj in answers %}
      <h2 class="heading-medium">
        {{ section }}
      </h2>

      <dl class="check-your-answers variant-dl">
        {% for question, answer in answersobj %}
          <dt class="question">
            {{ question }}
          </dt>
          <dd class="answer-container">
            <p class="answer">
              {{ answer | safe }}
            </p>

            <p class="change">
              <a href="#">Change <span class="visuallyhidden">{{ question }}</span></a>
            </p>
          </dd>
        {% endfor %}
      </dl>
    {% endfor %}


    {% include "check-your-answers/_confirm.html" %}

  </div>
</main>

{% endblock %}
