{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Check your answers before sending your application (description list)
      </h1>

      {% for section, answersobj in answers %}
        <h2 class="heading-medium">
          {{ section }}
        </h2>

        <dl class="check-your-answers multiple-sections">
          {% for question, answer in answersobj %}
            <div>
              <dt class="question">
                {{ question }}
              </dt>

              <dd class="answer">
                {{ answer | safe }}
              </dd>

              <dd class="change">
                <a href="#">Change <span class="visuallyhidden">{{ question }}</span></a>
              </dd>
            </div>
          {% endfor %}
        </dl>
      {% endfor %}


      {% include "check-your-answers/_confirm.html" %}

    </div>
  </div>
</main>

{% endblock %}
