{% extends "layout.html" %}

{% block page_title %}
  Check your answers variations
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Variants of "check your answers" pattern
  </h1>

  <ul class="list list-bullet">
    <li><a href="/check-your-answers/table">Table</a></li>
    <li><a href="/check-your-answers/definition-list">Description list</a></li>
    <li><a href="/check-your-answers/list2">Ordered list</a></li>
  </ul>

</main>

{% endblock %}
