{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Check your answers before sending your application
    </h1>

    {% for section, answersobj in answers %}
      <h2 class="heading-medium">
        {{ section }}
      </h2>

      <ol class="check-your-answers variant-ol">
        {% for question, answer in answersobj %}
          <li>
            <strong class="question">
              {{ question }}<span class="visuallyhidden">:</span>
            </strong>

            <span class="answer">
              {{ answer | safe }}
            </span>

            <a href="#" class="change">
              Change <span class="visuallyhidden">{{ question }}</span>
            </a>
          </li>
        {% endfor %}
      </ol>
    {% endfor %}


    {% include "check-your-answers/_confirm.html" %}

  </div>
</main>

{% endblock %}
