{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Check your answers before sending your application
    </h1>

    {% for section, answersobj in answers %}

      <table class="check-your-answers variant-table">
        <caption class="heading-medium">{{ section }}</caption>
        <tbody>
          {% for question, answer in answersobj %}
            <tr>
              <td class="question">{{ question }}</td>
              <td class="answer">{{ answer | safe }}</td>
              <td class="change">
                <a href="#">
                  Change <span class="visuallyhidden">{{ question }}</span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endfor %}

    {% include "check-your-answers/_confirm.html" %}

  </div>
</main>

{% endblock %}
