{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds measure">

      <div class="task task-counter">
        <h2 class="task-section">Check before you start</h2>
        <dl class="task-list">
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Check eligibility, cost and time
              </a>
            </dt>
            <dd class="task-status">
              <span class="task-status-complete">Completed</span>
            </dd>
          </div>
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Read rules
              </a>
            </dt>
            <dd class="task-status">
              <span class="task-status-complete">Completed</span>
            </dd>
          </div>
        </dl>
      </div>

      <div class="task">
        <h2 class="task-section">Prepare to apply</h2>
        <dl class="task-list">
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Your contact details
              </a>
            </dt>
            <dd class="task-status">
              <span class="task-status-complete">Completed</span>
            </dd>
          </div>
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Do training
              </a>
            </dt>
            <dd class="task-status"></dd>
          </div>
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Check criminal history
              </a>
            </dt>
            <dd class="task-status"></dd>
          </div>
          <div class="task-list-item">
            <dt class="task-name">
              <a href="#">
                Give medical information
              </a>
            </dt>
            <dd class="task-status">
              <span class="task-status-complete">Completed</span>
            </dd>
          </div>
        </dl>
      </div>

      <div class="task">
        <h2 class="task-section">Apply</h2>
        <dl class="task-list">
          <div class="task-list-item">
            <dd class="task-name">
              <a href="#">
                Submit and pay
              </a>
            </dd>
            <dt class="task-status"></dt>
          </div>
          <div class="task-list-item">
            <dd class="task-name">
              <a href="#">
                Wait for a decision
              </a>
            </dd>
            <dt class="task-status"></dt>
          </div>
          <div class="task-list-item">
            <dd class="task-name">
              <a href="#">
                Get a license
              </a>
            </dd>
            <dt class="task-status"></dt>
          </div>
        </dl>
      </div>

    </div>
  </div>
</main>

{% endblock %}
