{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <section class="task task-first">
        <h1 class="task-section">1. Check before you start</h1>
        <ol class="task-list">
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Check eligibility, cost and time
            </a>
            <span class="task-list-status">Completed</span>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Read rules
            </a>
            <span class="task-list-status">Completed</span>
          </li>
        </ol>
      </section>

      <section class="task">
        <h1 class="task-section">2. Prepare to apply</h1>
        <ol class="task-list">
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Your contact details
            </a>
            <span class="task-list-status">Completed</span>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Do training
            </a>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Check criminal history
            </a>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Give medical information
            </a>
            <span class="task-list-status">Completed</span>
          </li>
        </ol>
      </section>

      <section class="task">
        <h1 class="task-section">3. Apply</h1>
        <ol class="task-list">
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Submit and pay
            </a>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Wait for a decision
            </a>
          </li>
          <li class="task-list-item">
            <a class="task-list-link" href="#">
              Get a license
            </a>
          </li>
        </ol>
      </section>

    </div>
  </div>
</main>

{% endblock %}
