{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="column-two-thirds">

    <div class="task task-first">
      <h1 class="task-section">1. Check before you start</h1>
      <table>
        <thead class="visually-hidden">
          <tr>
            <th>Task to complete</th>
            <th>Task status</th>
          </tr>
        </thead>
        <tbody class="task-list">
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Check eligibility, cost and time
              </a>
            </td>
            <td>
              <span class="task-list-status">Completed</span>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Read rules
              </a>
            </td>
            <td>
              <span class="task-list-status">Completed</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="task task-first">
      <h2 class="task-section">2. Prepare to apply</h2>
      <table>
        <thead class="visually-hidden">
          <tr>
            <th>Task to complete</th>
            <th>Task status</th>
          </tr>
        </thead>
        <tbody class="task-list">
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Your contact details
              </a>
            </td>
            <td>
              <span class="task-list-status">Completed</span>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Do training
              </a>
            </td>
            <td>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Check criminal history
              </a>
            </td>
            <td>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Give medical information
              </a>
            </td>
            <td>
              <span class="task-list-status">Completed</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="task task-first">
      <h3 class="task-section">3. Apply</h3>
      <table>
        <thead class="visually-hidden">
          <tr>
            <th>Task to complete</th>
            <th>Task status</th>
          </tr>
        </thead>
        <tbody class="task-list">
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Submit and pay
              </a>
            </td>
            <td>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Wait for a decision
              </a>
            </td>
            <td>
            </td>
          </tr>
          <tr class="task-list-item">
            <td>
              <a class="task-list-link" href="#">
                Get a license
              </a>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>

{% endblock %}
