{% if error %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There was a problem
  </h1>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Are your personal details correct and up-to-date?</a></li>
  </ul>

</div>
{% endif %}

<h1 class="heading-large">
  Check your personal details
</h1>

<p class="lede">
  Look at your name, signature and other details.
</p>


<div class="form-group {% if error %} error{% endif %}">
  <fieldset>

    <legend {% if error %} id="example-personal-details"{% endif %}>

      <span class="form-label-bold">
        Are your personal details correct and up-to-date?
      </span>
      {% if error %}
        <span class="error-message">
          You need to select if your details are correct or not
        </span>
      {% endif %}

    </legend>

    <label class="block-label" for="personal_details_yes">
      <input id="personal_details_yes" type="radio" name="personalDetails" value="Yes">
      <span></span> Yes, my personal details are correct
    </label>

    <label class="block-label" for="personal_details_no">
      <input id="personal_details_no" type="radio" name="personalDetails" value="No">
      <span></span> No, some details are wrong or have changed
    </label>

  </fieldset>
</div>

<input class="button" type="submit" value="Continue">
