{% if error %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#{% if error2 %}contact-by-text{% else %}example-personal-details{% endif %}">Descriptive link to the question with an error</a></li>
  </ul>

</div>
{% endif %}


<h1 class="heading-medium">
  Your contact preference
</h1>

<div class="form-group {% if error and not error2 %}error{% endif %}">
  <fieldset>

    <legend id="example-personal-details">
      How do you want to be contacted?
      {% if error and not error2 %}<span class="error-message">Choose an answer</span>{% endif %}
    </legend>

    <label class="block-label" data-target="contact-by-email" for="example-contact-by-email">
      <input id="example-contact-by-email" type="radio" name="radio_contact_group" value="email">
      Email
    </label>
    <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
      <label class="form-label" for="contact_email">Email address</label>
      <input class="form-control" name="contact_email" type="text" id="contact_email">
    </div>

    <label class="block-label" data-target="contact-by-phone" for="example-contact-by-phone">
      <input id="example-contact-by-phone" type="radio" name="radio_contact_group" value="phone">
      Phone
    </label>
    <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
      <label class="form-label" for="contact_phone">Phone number</label>
      <input class="form-control" name="contact_phone" type="text" id="contact_phone">
    </div>

    <label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
      <input id="example-contact-by-text" type="radio" name="radio_contact_group" value="text" {% if error and error2 %}checked="checked"{% endif %}>
      Text message
    </label>
    <div class="panel panel-border-narrow {% if error and error2 %}panel-with-error{% else %}js-hidden {% endif %}" id="contact-by-text">
      <div class="{% if error and error2 %}form-group error{% endif %}">
        <label class="form-label" for="contact_text_message">
          Mobile phone number
          {% if error and error2 %}
            <span class="error-message">
              Enter your phone number
            </span>
          {% endif %}
        </label>
        <input class="form-control" name="contact_text_message" type="text" id="contact_text_message">
      </div>
    </div>
  </fieldset>
</div>
