{% if posted and not error %}

<h1 class="heading-large">
  Your personal details
</h1>

<div class="govuk-box-highlight">
  <h2 class="bold-large">
    Details successfully submitted
  </h2>
  <p>
    Your reference number is <br>
    <strong class="heading-medium">HDJ2123F</strong>
  </p>
</div>

{% else %}

{% if error %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    There was a problem
  </h1>

  <p>
    Please revise your answers below.
  </p>

  <ul class="error-summary-list">
    {% if not fullName %}
    <li><a href="#example-full-name">Full name is empty</a></li>
    {% endif %}
    {% if not niNo %}
    <li><a href="#example-ni-number">National Insurance number is empty</a></li>
    {% endif %}
  </ul>

</div>
{% endif %}

<h1 class="heading-large">
  Your personal details
</h1>

<div class="form-group {% if error %}{% if not fullName %} error{% endif %}{% endif %}">

  <label for="example-full-name" {% if error %}{% if not fullName %} id="error-full-name"{% endif %}{% endif %}>

    <span class="form-label-bold">Full name</span>
    <span class="form-hint">As shown on your birth certificate or passport</span>
    {% if error %}
      {% if not fullName %}
      <span class="error-message" id="error-message-full-name">Enter your full name</span>
      {% endif %}
    {% endif %}

  </label>

  <input class="form-control" id="example-full-name" type="text" name="fullName" value="{{fullName}}" {% if error %}{% if not fullName %} aria-describedby="error-message-full-name"{% endif %}{% endif %}>
</div>

<div class="form-group {% if error %}{% if not niNo %} error{% endif %}{% endif %}">

  <label for="example-ni-number" {% if error %}{% if not niNo %} id="error-full-name"{% endif %}{% endif %}>

    <span class="form-label-bold">National Insurance number</span>
    <span class="form-hint">
      It's on your National Insurance card, benefit letter, payslip or P60.
      <br>
      For example, 'VO 12 34 56 D'.
    </span>
    {% if error %}
      {% if not niNo %}
      <span class="error-message" id="error-message-ni-number">
        Enter your National Insurance number
      </span>
      {% endif %}
    {% endif %}
  </label>

  <input class="form-control" id="example-ni-number" type="text" name="niNo" value="{{niNo}}" {% if error %}{% if not niNo %} aria-describedby="error-message-ni-number"{% endif %}{% endif %}>

</div>

<input class="button" type="submit" value="Continue">

{% endif %}

