{% extends "isolated-layout.html" %}

{% block page_title %} 
Elements test case - all patterns
{% endblock %}

{% block body_classes %} 
all-cases
{% endblock %}

{% block testcase %}

<a class="link-back" href="/">Back</a>
<h1 class="heading-large">All test cases</h1>

{% for group, tests in snippets %}
  <h2 class="heading-medium">{{ group }}</h2>

    {% for testname, testpath in tests %}

      {% set group = group | lower | replace(' ', '_') %}

      {% set path = "snippets/" + group + "_" + testpath %}

      {% set type = testname.split(':')%}
      {% set type = type[0] | lower %}

        <div class="form-group test-case example {{group}}-{{type}}">
          {% include path %}
        </div>
    {% endfor %}

{% endfor %}

{% endblock %}

