{% extends "layout.html" %}

{% block page_title %} 
Elements test case - {{testName}}
{% endblock %}

{% block body_classes %} 
templated-case
{% endblock %}

{% block content %}
  <main id="content" role="main">
  {% if group == "form" %}
    <form action={{ "/example/" + slug + "/template" }} method="post">
  {% endif %}
    <div id="test-case" class="templated-case case-{{group}}-{{testName}}">
      {% include "snippets/" + group + "_" + testName + ".html" %}
    </div>
  {% if submit %}
    <input class="button" type="submit" value="Continue">
  {% endif %}
  {% if group == "form" %}
    </form>
  {% endif %}
  </main>
{% endblock %}