{% extends "layout.html" %}

{% block page_title %}
  Variants of error summary boxes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Variants of error summary boxes
      </h1>


      <h2 class="heading-medium">Error summary before main heading</h2>

      <ul class="list list-bullet">
        <li><a href="/error-summary/error-title/1/1">Error summary and main heading are h1</a></li>
        <li><a href="/error-summary/error-title/1/2">Error summary heading is h1, main heading is h2</a></li>
        <li><a href="/error-summary/error-title/2/1">Error summary heading is h2, main heading is h1</a></li>
      </ul>


      <h2 class="heading-medium">Main heading before error summary</h2>

      <ul class="list list-bullet">
        <li><a href="/error-summary/title-error/2/1">Main heading is h1, error summary heading is h2</a></li>
      </ul>


      <h2 class="heading-medium">Other ways of highlighting the error summary</h2>

      <ul class="list list-bullet">
        <li><a href="/error-summary/error-title/2/1/a">Error summary with alert role</a></li>
        <li><a href="/error-summary/error-title/2/1/b">Error summary with anchor</a></li>
        <li><a href="/error-summary/error-title/2/1/c">Error summary with alert role and anchor</a></li>
        <li><a href="/error-summary/title-error/2/1/d">Error reflected in title</a></li>
        <li><a href="/error-summary/title-error/2/1/e">Error reflected in title and main heading</a></li>
      </ul>


      <h2 class="heading-medium">Without aria-labelledby</h2>

      <ul class="list list-bullet">
        <li><a href="/error-summary/error-title/2/1/a/n">Error summary with alert role, without aria-labelledby</a></li>
        <li><a href="/error-summary/error-title/2/1/b/n">Error summary with anchor, without aria-labelledby</a></li>
        <li><a href="/error-summary/error-title/2/1/c/n">Error summary with alert role and anchor, without aria-labelledby</a></li>
        <li><a href="/error-summary/error-title/1/1/x/n">Current error summary (two h1s), without aria-labelledby</a></li>
      </ul>


      <h2 class="heading-medium">Final version</h2>

      <p>
        <a href="/error-summary/error-title/2/1/f">Error summary with alert role, its heading is h2, main heading is h1, error reflected in title</a>
      </p>
      <p>
        <a href="/error-summary/error-title/2/1/g">(Same as above but with focus removed)</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}


